.gallery {
  column-count: 3;
  column-gap: 16px;
}

.galleryItem {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
}

.galleryItem img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}
